body{
    background-color: rgb(12, 11, 11);
}
div{
    border-style:solid;
    border-color:red;
    border-width: 5px;
    width: 100px;
    height: 50px;
    float: left;
    margin:20px;
    background-color: yellow;

}    